@model IEnumerable<string>

<a class=" btn btn-outline-light btn-block m-2"
   asp-action="Merch"
   asp-controller="Product"
   asp-route-category="">
    Merch
</a>
   

@foreach (string category in Model)
{
    <a class="btn btn-block 
       @(category == ViewBag.SelectedCategory ? "btn-primary": "btn-default")"
       asp-action="Merch"
       asp-controller="Product"
       asp-route-category="@category"
       asp-route-page="1">
        @category
    </a>
}