/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #282828;
    color: #ebdbb2;
    font-family: 'Roboto Mono', monospace;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom Rules
 -------------------------------------------------- */
/* General rules*/
h1 {
    color: #fb4934;
}

h2 {
    color: #fabd2f;
}

/* List rules*/
ul > il {
    color: #fe8019;
}

.navbar-inverse {
    background-color: #3c3836;
    color: #fe8019;
}

.navbar-inverse .navbar-brand {
    color: #fe8019;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fabd2f;
}

h3 > .bg-success {
    background-color: #8ec07c;
}

h3 > span {
    color: #3c3836;
}

.img-col {
    width: 100%;
}

.image-lineup {
    float: right;
    width: 33.33%;
}

.tour-list > li {
    list-style-type: none;
}

.btn.btn-block.m-2 {
    background-color: #a89984;
    color: #3c3836;
}

.product-box {
    display: flex;
    align-items: center;
}

a img {
    width: 33%;
}

.bg-success {
    background-color: #8ec07c;
    color: #3c3836;
    font-size: 14px;
}

/*
    ==========================================================
                 Merch + Product Summary Page Layout 
    ==========================================================
*/

div.merch-row {
    display: flex;
    padding: 10px;
}

div.merch-col {
    flex: 50%;
}

div.merch-item {
    margin-bottom: 5px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #a89984;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #d5c4a1;
}

td {
    color: #282828;
}

tfoot > tr > td {
    color: #8ec07c;
}

/*
    ======================================================
                    Navbar styling
    ======================================================
*/

.navbar {
    flex: 1;
}

.shop-cart {
    position: absolute;
    top: 4px;
}

.cart-text {
    position: relative;
    left: 30px;
}