@model Cart

    <div class="">
        <a class="btn shop-cart btn-lg"
           asp-controller="Cart" asp-action="Index"
           asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
            <i class="fa fa-shopping-cart"></i>
        </a>
        @if (Model.Lines.Count() > 0)
        {
            <small class="navbar-text cart-text">
                <b>Your cart:</b>
                @Model.Lines.Sum(x => x.Quantity) item(s)
                @Model.ComputeTotalValue().ToString("c")
            </small>
        }
    </div>