@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1>2 Bears 1 Cave</h1>
    <h3>with comedians <a href="http://bertbertbert.com/">Bert Kreischer</a> and <a href="http://tomsegura.com/">Tom Segura</a></h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Z0i3JMZX4Ys" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="tom_tour">
        <h2>Tom Segura's Take it Down Tour</h2>
        <ul class="tour-list">
            <li>7/9/20 - San Diego, CA - American Comedy Co. - 8pm</li>
            <li>7/10/20 - San Diego, CA - American Comedy Co. - 7:30pm</li>
            <li>7/10/20 - San Diego, CA - American Comedy Co. - 9:30pm</li>
            <li>7/11/20 - San Diego, CA - American Comedy Co. - 7:30pm</li>
            <li>7/11/20 - San Diego, CA - American Comedy Co. - 9:30pm</li>
            <li>7/30/2020 - Irvine, CA - Irvine Improv - 8pm</li>
        </ul>
    </div>
    <div class="bert_tour">
        <h2>Bert Kreischer's Hot Summer Nights Tour</h2>
        <ul class="tour-list">
            <li>6/23/20 - Birmingham, AL - Stardome Comedy Club - 7pm</li>
            <li>6/25/20 - Greenville, SC - The Comedy Zone - 7:30pm</li>
            <li>6/26/20 - Indianapolis, IN - Tibb's Drive In - 7:30pm</li>
            <li>6/27/20 - Des Moines, IA - Funny Bone - 7:00pm</li>
            <li>6/28/20 - Tulsa, OK - Admiral Twin Drive In - 7:30pm</li>
            <li>6/29/2020 - Oklahoma City, OK - Bricktown Comedy Club - 7pm</li>
        </ul>
    </div>
</div>
