@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Podcast</title>
</head>
<body>
    <div class="text-center">
        <h1>2 Bears 1 Cave Podcast</h1>
        <div>
            <h3>Ep. 35 | 2 Bears 1 Cave w/ Tom Segura & Bert Kreischer</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/kx8VolvVE-M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3>Ep. 34 | 2 Bears 1 Cave w/ Tom Segura & Bert Kreischer</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Z0i3JMZX4Ys" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3>Ep. 33 | 2 Bears 1 Cave w/ Tom Segura & Bert Kreischer</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/t53BXbnyH90" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3>Ep. 32 | 2 Bears 1 Cave w/ Tom Segura & Bert Kreischer</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/oN3lnDKkAz0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3>Ep. 31 | 2 Bears 1 Cave w/ Tom Segura & Bert Kreischer</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/JB20z3qMvr0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</body>
</html>
